.container {
    padding: 2.5rem 1.5rem;
}

/* desktop */
@media (min-width: 769px) {
    .container {
        padding: 1rem 3rem;
    }
}

.yearSelect {
    text-align: center;
}

/* desktop */
@media (min-width: 769px) {
    .yearSelect {
        width: 25%;
    }
}
