.itemPageList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
}

.imageWrap {
  position: relative;
  display: inline-block;
  padding: 2rem;
  height: 30vh;
  width: 100%;
}

.article {
    padding: 0;
}

/* desktop */
@media (min-width: 769px) {
    .article {
        padding: 2rem;
    }
}

.infoContainer h2 {
    font-size: var(--font-size-plus);
}

.infoContainer {
    white-space: pre-line;
}

.info {
    padding-bottom: 5rem;
    font-size: var(--font-size-min);
}
